<div data-role="dialog" data-overlay-theme="e" data-theme="" data-close-btn="right">
  <div data-role="header" data-theme="a" class="ui-corner-top">
    <h1>Eliminar lista</h1>
  </div>
  <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
    ¿Está seguro de querer eliminar la lista?
    <div>
      <a href="/listas/<%= lista.id %>/destroy" data-role="button" data-theme="e">Eliminar</a>  
      <a href="#" data-role="button" data-rel="back" data-theme="a">Cancelar</a>  
    </div>
  </div>
</div>
