<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.3.1.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/jquery.mobile-1.3.1.js"></script>
  </head>
  <body>
    <div data-role="page">
      <div data-theme="a" data-role="header">
        <h3><%= title %></h3>
      </div>
      <div data-role="content">
        <h2>¡Bienvenido a Procrastinator!</h2>
        <p>
          Éste es un pequeño sistema para manejo de lista de tareas (TODO list) web con interfaz diseñada para dispositivos móviles, como son tabletas y smart phones.
        </p>
        <center>
          <img src="images/todo.png" alt="todo" />
        </center>
        <a data-role="button" href="listas">
          ¡Comenzar a procrastinar!
        </a>
      </div>
      <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
          VII simposium de software libre
        </h3>
      </div>
    </div>
  </body>
</html>
